




  .TwitterLogin{
    background-color:#0073b1 !important;
    width: 20vw;
    
    content: "Email address: "
      
    }
    
    .GOOGLE {
      background-color:#F94033 !important;
      width: 20vw;
      margin-bottom:  10px;
      height: 43px;
      text-align: center !important;
        border-radius: 25px !important;
        border: 0 !important;
      }
      .Linkedin{
        background-color:#F94033 !important;
      width: 20vw;
      text-align: center !important;
        border-radius: 25px !important;
        height: 43px;
            margin-bottom:  20px;
  
      }
      .GithubLogin{
        background-color:#0148A4 !important;
      width: 20vw;
      height: 43px;
      margin-bottom:  10px;
      color:#EAEBED;
      border-radius: 25px !important;
      font-family: Helvetica,sans-serif !important;
      font-weight: 700 !important;
      border-color: #0148A4 !important;
      border-radius: 25px !important;
      border: 0px !important;
      }
    
  
      .GOOGLE span{
       
     /* font-size: 17px !important; */
        color:#EAEBED;
        font-family: Helvetica,sans-serif !important;
        font-weight: 700 !important;
        text-align: center !important;
        margin: auto;
        }
    /* .GOOGLE span::after{
    font-weight: 1000 !important;
    content: "  with Google ";
    color:#EAEBED;
    
    } */
    
    .TwitterLogin rect{
      background-color:#0073b1 !important;
      fill:#0073b1 !important;
      border-radius: 25px !important;
      stroke:#0073b1 !important;
      height: 43px !important;
    }
    
    .TwitterLogin path{
     
      fill:#EAEBED !important;
      border-radius: 25px !important;
      height: 43px !important;
      
    }
    
    .btn-microsoft-login{
      background-color:#0073b1 !important;
      width: 20vw;
      height: 43px;
      margin-bottom:  10px;
      color:#EAEBED;
      font-family: Helvetica,sans-serif !important;
      font-weight: 700 !important;
      border-radius: 25px !important;
    }
    .kep-login-facebook.metro {
      border-radius: 0;
      padding: 0px;
    }
    
    .kep-login-facebook {
      font-family: Helvetica,sans-serif;
      font-weight: 700;
      -webkit-font-smoothing: antialiased;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 14px !important;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .3s,border-color .3s;
      background-color:#0073b1 !important;
      border-radius: 25px !important;
      border: 0px !important;
      padding: 10px 10px 10px 10px;
      width: 20vw;
      height: 43px;
      margin-bottom:  10px;
    }
    
  
    @keyframes App-logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    
    
    body {
    
      background-color: #FBFBFB !important;
    
     
    
    
  
    }
      img {
      margin-top: em;
      height: 43px;
      width: 20vw;
      max-width: 20vw !important;
    }
    
    p {
      color: white;
    }
  
    
  
  button{
    border: none !important;
    outline:none !important;
  }
  

  .GOOGLE button{
    background-color: rgb(255, 255, 255);
     display: inline-flex;
     
     align-items: center; color: rgba(0, 0, 0, 0.54); 
     box-shadow:0px !important;
      padding: 0px;
     border-radius: 2px; 
     border: 0px solid transparent !important; 
     font-size: 14px; font-weight: 500; 
     font-family: Roboto, sans-serif;
    }
    button.GOOGLE div{
        background-color:#F94033 !important;
        display: none;
        border-radius: 25px;
      }
  .btn-linkedin::before {
    content: 'Login with Linkedin';
    font-size: 17px !important;
    color:#EAEBED;
    font-family: Helvetica,sans-serif !important;
    font-weight: 700 !important;
    text-align: center !important;
    margin: auto;
  }
  .btn-linkedin img{
    display: none;
  }
  .btn-linkedin {
    color: #fff;
    background-color: #0073b1 !important;
    border-color: #0073b1 !important;
    height: 43px;
    padding: 0px;
    width: 20vw;
    border-radius: 25px;
    content: "";
  }
    
  .btn-linkedin {
    color: #fff;
    background-color: #0073b1 !important;
    border-color: #0073b1 !important;
    height: 43px;
    padding: 0px;
    width: 20vw;
  } 

    

  .paypal-button:not(.paypal-button-card) {
    height: 43px !important;
    min-height: 35px;
    max-height: 55px;
    min-width: 250px !important;
    margin-top: 10px;
  }
  .paypal-button{
    background-color:#2C2E2F !important;
    width: 20vw;
    margin-bottom:  10px;
    height: 43px !important;
    text-align: center !important;
      border-radius: 25px !important;
      border: 0 !important;
  }
  

  .TwitterLogin {
    border-radius: 25px !important;
    background-color: #0073b1 !important;
    width: 20vw;
    height: 43px;
    content: "Email address: ";
    margin-bottom:  10px;
} 
  .InstagramLogin  {
    display: inline-block;
      background: linear-gradient(rgb(101, 89, 202), rgb(188, 49, 143) 30%, rgb(227, 63, 95) 50%, rgb(247, 118, 56) 70%, rgb(254, 198, 109) 100%);
      color: rgb(255, 255, 255);
      width: 20vw !important;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 25px;
  
      font-size: 16px;
      font-weight: bold;
      font-family: proxima-nova, "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
 
  .centerlogin{
      position: absolute;
      top:30%;
      left:40%
  }